.menu{
    margin: 10px;

}

.menu-header {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header:hover {
    cursor: pointer;
}


.menu-item {
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Dropdown menu container */
.dropdown {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Dropdown item styling */
.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: #e0e0e0;
    color: black;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    background-color: #d6d6d6;
}

/* Checkbox alignment */
.dropdown-item input {
    cursor: pointer;
}