.cameraModal {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 350px;
  max-width: 45%;
  border-radius: 12px;
}

.topOfCameraModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.closeButton {
  background-color: transparent;
  border: none;
  outline: none;
}

.babyTitleArea{
  background-color: #BECDB1;
  font-size: 20px;
  padding: 7.5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 24px;
}

.trashDescription{
  background-color: #E1EFEF;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trashEntryContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.trashEntry {
  background-color: #F8F7F1;
  padding: 10px 14px;
  font-size: 16px;
  height: 17.5px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.trashEntry svg {
  margin-right: 8px;
}

.trashCount {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 7px 14px;
  border-radius: 20px;
  display: inline-block;
}