.cameraModal {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 25%;
  border-radius: 12px;
}

.topOfCameraModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.closeButton {
  background-color: transparent;
  border: none;
  outline: none;
}

.babyTitleArea{
  background-color: #E1EFEF;
  font-size: 24px;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border-radius: 13px;
}

.trashDescription{
  background-color: #F8F7F1;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 13px;
}

.trashEntry{
  background-color: #F8F7F1;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 13px;
  margin-bottom: 10px;
}

