.cameraModal {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 25%;
  border-radius: 12px;
}

.topOfCameraModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.closeButton {
  background-color: transparent;
  border: none;
  outline: none;
}
