/* General sidebar styling */
.sidebar {
    width: 250px;
    background-color: #F5F5F4;
    padding: 10px 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin: auto 10px;
    border-radius: 13px;
}
